<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{#if metaDescription}}
      <meta name="description" content="{{metaDescription}}">
    {{/if}}
    {{#if title}}
    <title>{{title}} | Migrating Cranes</title>
    {{else}}
    <title>Migrating Cranes</title>
    {{/if}}
  <link rel="stylesheet" href="/styles.css">
</head>

<body>
  <div class="mc-shell">
    <nav class="mc-nav">
      <a href="/" class="mc-nav-home">🪶 Migrating Cranes</a>
    </nav>
    
    <hr />

    {{>@partial-block }}

    <hr />

    <footer class="mc-footer">
      <small>
        🪶 Migrating Cranes
      </small>
    </footer>
  </div>

  {{!-- https://stackoverflow.com/a/9047450/3075798 --}}
  {{>google-analytics}}
</body>

</html>