{{#>layout}}
<div class="container mc-measure">
  <h1 class="mt-2">About</h1>

  <p>
    Well not us, really just me. My name is William Hoppes, you can find me on LinkedIn <a
      href="https://www.linkedin.com/in/williamhoppes/" target="_blank">here</a>, and I’ve worked in a number of
    research and data science roles. At its core, I build computer code that takes large amounts of data and processes
    it into pleasant reports, graphs, and other human-readable formats.
  </p>

  <p>
    Migrating Cranes is halfway between a passion project and a startup. I’m building a number of automated reports to
    provide clear data on immigration both into the US and, eventually into the other four big Western economies of the
    UK, Canada, Australia, and New Zealand. I’ll post and update them here on Migrating Cranes for at least 2023-2026.
  </p>

  <p>
    Why? Well, I don’t think anyone has taken a “big data” approach to immigration data, or any modern data analytics
    approach at all. Things I would consider very basic, like how immigration from the Philippines to the US changed
    from 2005-2015, are almost impossible to find and almost always done in an ad hoc basis. More complex and
    interesting questions, like comparing the migration of top tech talent to the US and Canada over the past twenty
    years, are essentially unknown. Yet the data is increasingly there; government has gotten much better over the past
    3 years about open sourcing their data. It’s simply unprocessed.
  </p>

  <p>
    Thus Migrating Cranes. Immigration is a really interesting area with a lot of problems, a lot of room for
    improvement, and a lot of importance, both financially and in people’s real lives. I’ll spend some time putting up
    these automated reports and sharing them freely. If this is something people value, if it’s something they view and
    share and want more of, then I’ll know there’s some traction. If not, it’s still a cool technical challenge I can
    show to future recruiters.
  </p>

  <p>
    I hope you find this helpful.
  </p>
</div>
{{/layout}}