{{#>layout}}
<div class="mc-img-page">
  <div class="mc-img-page-content">
    <div class="mc-measure-xs">
      <h1>Welcome</h1>
      
      <p>
        Get detailed reports on travel and immigration between the US and other countries, using curated data from
        national statistics. <a href="/about">Learn more →</a>
      </p>

      <div class="mc-card">
        <div class="mc-card-head">Immigration Reports:</div>
        <a href="/to/us" class="mc-card-item">Immigration to United States</a>
      </div>

      <p>
        <small>Email <a href="mailto:contact@migratingcranes.com">contact@migratingcranes.com</a> for feedback or comments.</small>
      </p>
    </div>
  </div>
  <div class="mc-img-page-img">
    <div class="mc-img-credit">
      Photo by <a href="https://unsplash.com/@ninjason?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Jason Leung</a> on <a href="https://unsplash.com/photos/jCBzW_Q_UGI?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
    </div>
  </div>
</div>
{{/layout}}