{{#>layout}}
<div class="container mc-measure">
  <h1 class="mt-2">Home</h1>

  <p>Welcome to Migrating Cranes, the web’s number #1 resource for immigration statistics. (Hopefully). If you haven’t
    been here before, we have a variety of detailed reports on travel and immigration between countries, using curated
    data from national statistics. Right now we offer reports on travel and immigration from most countries to the US
    and over the 2023 year we should expand that to included such destinations as the UK, Canada, and Australia.</p>
  <p>While you might be able to find immigration statistics elsewhere, for example at <a
      href="https://www.migrationdataportal.org">migrationdataportal.org</a>,
    you’ll find that these statistics don’t really go into much detail. For example, how many people came to the US
    from Brazil on a K1 Fiance Visa and in which major metropolitan areas did they settle? That’s the kind of detail
    we provide and you can’t find anywhere else. Feel free to look through our various reports or learn more about us.
  </p>

  <dl>
    <dt>
      Immigration Reports:
    </dt>
    <dd>
      <a href="/to/us">🇺🇸 To United States →</a>
    </dd>
  </dl>
</div>
{{/layout}}